[submodule "libraries/Arduino_BridgeImola"]
	path = libraries/Arduino_BridgeImola
	url = git@github.com:bcmi-labs/Arduino_BridgeImola
[submodule "libraries/Arduino_RPCLite"]
	path = libraries/Arduino_RPCLite
	url = git@github.com:bcmi-labs/Arduino_RPCLite
